<section class="py-5"></section>
<div class="col-sm-12">
<div class="container-fluid" id="container-wrapper">
  <div class="d-sm-flex align-items-center justify-content-between mb-6">
 <div class="page-content">
<div class="row">
<div class="d-flex justify-content-between">
</div>
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center text-primary">
                                    <i class="far fa-user fa-3x"></i>
                                </div>
                            </div>
                            <div class="col-7">
                                <p class="card-title text-primary">Total User</p>
                                <p class="card-text"><%= userTotal %> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center text-primary">
                                    <i class="fas fa-eye fa-3x"></i>
                                </div>
                            </div>
                            <div class="col-7">
                                <p class="card-title text-primary">Visitor</p>
                                <p class="card-text"><%= visitor %>  </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center text-primary">
                                    <i class="fas fa-clock fa-3x"></i>
                                </div>
                            </div>
                            <div class="col-7">
                                <p class="card-title text-primary">Today</p>
                                <p class="card-text"><%= today %> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center text-primary">
                                    <i class="fas fa-hourglass-start fa-3x"></i>
                                </div>
                            </div>
                            <div class="col-7">
                                <p class="card-title text-primary">Request Total</p>
                                <p class="card-text"><%= total %> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5 bg-dark" >
    <div class="container">
        <center>                
            <%- include('layouts/msg')  %> 
            <%- include('layouts/errors')  %>   
        </center>        
            <div class="row">
                <div class="col-md-6 mx-auto text-center">
                    <h2 class="text-white heading-black text-primary">Dashboard</h2>
                    <p class="text-light lead mb-5" style="font-style: italic;">Welcome <%= username %></p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <a href="#" class="text-center">
                            <img class="card-img-top img-raised" style="width: 170px;height: 150px;border-radius: 50%;margin: -30px auto 0;" src="https://raw.githubusercontent.com/iniariaaa/yondaktau/main/hi.gif" alt="Follow Ig:@RiczXD">
                        </a>
                        <div class="card-body">
                            <a href="#" class="card-title text-center"><h5><%= username %></h5></a>
                            <p class="card-text">Apikey :
                                <strong><code class="text-primary"><%= apikey %></code></strong>
                            </p>
                            <p class="card-text">Limit Today : <%= limit %></p>
                            <div class="text-center"> 
                                <form action="/premium/custom" method="post">
                                    <div class="form-group">
                                        <input style="font-family:Arial, FontAwesome" name="customKey" type="text" class="form-control" placeholder="&#xf084;   New Apikey" required>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary mb-2"><i class="fas fa-key"></i><em class="ml-2"></em>Change ApiKey</button>
                                    </div>
                                </div>
                        </div>
                    </div>                  
<div class="col-md-14 mx-auto text-center">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-info"></i>
                            <em class="ml-2"></em>Special Thx To</h5>
                            <p class="text-muted small-xl">
                                • My Family • Heroku • Allah Swt • Railway • Tobz • All Penyedia Module
                            </p>
                          <div class="text-center">
                            <script id="cid0020000299940943144" data-cfasync="false" async src="//st.chatango.com/js/gz/emb.js" style="width: 208px;height: 300px;">{"handle":"Cupz-Api","arch":"js","styles":{"a":"ffff00","b":100,"c":"000000","d":"000000","k":"ffff00","l":"ffff00","m":"ffff00","p":"10","q":"ffff00","r":100,"pos":"br","cv":1,"cvbg":"ffff00","cvfg":"000000","cvw":200,"cvh":19,"ticker":1,"fwtickm":1}}</script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>
    <div class="container">
        <div class="navbaro">
            <div class="hamburger-menu">
                <div class="line line-1 text-primary"></div>
                <div class="line line-2"></div>
                <div class="line line-3"></div>
            </div>
		<ul class="navo-list">
			<li class="navo-item">
				<a href="/downloadmenu" class="navo-link"><i class="fas fa-download"></i>
					<em class="ml-2"></em>Downloader Menu</a>
			</li>
			<li class="navo-item">
				<a href="/randommenu" class="navo-link"><i class="fas fa-random"></i>
					<em class="ml-2"></em>Random Menu</a>
			</li>
	   		<li class="navo-item">
                                <a href="/logomenu" class="navo-link"><i class="fas fa-cat"></i>
                                        <em class="ml-2"></em>Logo Menu</a>
                        </li>
			<li class="navo-item">
				<a href="/makermenu" class="navo-link"><i class="far fa-image"></i>
					<em class="ml-2"></em>Maker Menu</a>
			</li>
			<li class="navo-item">
				<a href="/primbonmenu" class="navo-link"><i class="far fa-smile"></i>
					<em class="ml-2"></em>Primbon Menu</a>
			</li>  
			<li class="navo-item">
				<a href="/othermenu" class="navo-link"><i class="fa fa-plus-circle"></i>
					<em class="ml-2"></em>Other Menu</a>
			</li>
						<li class="navo-item">
				<a href="/searchmenu" class="navo-link"><i class="fa fa-search"></i>
					<em class="ml-2"></em>Search Menu</a>
			</li>
                        <li class="navo-item">
				<a href="/gamemenu" class="navo-link"><i class="fa fa-gamepad"></i>
					<em class="ml-2"></em>Game Menu</a>
			</li>
                        <li class="navo-item">
				<a href="/infomenu" class="navo-link"><i class="fa fa-code"></i>
					<em class="ml-2"></em>Information Menu</a>
			</li>
		</ul>
	</div>
</div> 
    </script>

	<script>

  swal("Info", "Masih Proses Pengembangan", "warning");

</script>
            <div class="col-md-8 divider top-divider mx-auto text-center pt-5">
                <a class="btn btn-primary mb-2" 
                    href="/docs"><i class="fas fa-home"></i><em class="ml-2"></em>Home
                </a>
            </div>
        </div>
    </section> 
</section> 
