<div class="container">
	<div class="navbaro">
		<div class="hamburger-menu">
			<div class="line line-1 text-primary"></div>
			<div class="line line-2"></div>
			<div class="line line-3"></div>
		</div>
				<ul class="navo-list">
			<li class="navo-item">
				<a href="/downloadmenu" class="navo-link"><i class="fas fa-download"></i>
					<em class="ml-2"></em>Downloader Menu</a>
			</li>
			<li class="navo-item">
				<a href="/randommenu" class="navo-link"><i class="fas fa-random"></i>
					<em class="ml-2"></em>Random Menu</a>
			</li>
	   		<li class="navo-item">
                                <a href="/logomenu" class="navo-link"><i class="fas fa-cat"></i>
                                        <em class="ml-2"></em>Logo Menu</a>
                        </li>
			<li class="navo-item">
				<a href="/makermenu" class="navo-link"><i class="far fa-image"></i>
					<em class="ml-2"></em>Maker Menu</a>
			</li>
			<li class="navo-item">
				<a href="/primbonmenu" class="navo-link"><i class="far fa-smile"></i>
					<em class="ml-2"></em>Primbon Menu</a>
			</li>  
			<li class="navo-item">
				<a href="/othermenu" class="navo-link"><i class="fa fa-plus-circle"></i>
					<em class="ml-2"></em>Other Menu</a>
			</li>
						<li class="navo-item">
				<a href="/searchmenu" class="navo-link"><i class="fa fa-search"></i>
					<em class="ml-2"></em>Search Menu</a>
			</li>
                        <li class="navo-item">
				<a href="/gamemenu" class="navo-link"><i class="fa fa-gamepad"></i>
					<em class="ml-2"></em>Game Menu</a>
			</li>
                        <li class="navo-item">
				<a href="/infomenu" class="navo-link"><i class="fa fa-code"></i>
					<em class="ml-2"></em>Information Menu</a>
			</li>
		</ul>
	</div>
</div> 

<section class="py-5">

</section>
<section class="py-5 bg-dark">
    <div class="container">
        <div class="row">
            <div class="mx-auto text-center">
                <h2 class="heading-black text-primary">PhotoOxy Menu</h2>
                <p class="text-muted lead" style="font-style: italic;">List Photooxy Effect</p>
            </div>
        </div>
        <div class="row justify-content-center" style="font-size: 14px;">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Features</h4>
                    </div>
                    <div class="card-body pt-2 text-center">
                        <div style="overflow-x:auto !important;">
                            <table class="table mb-0" style="width: 100% !important;">
                                <thead class="text-primary">
                                    <tr>
                                        <th scope="col">API NAME</th>
                                        <th scope="col">PARAMETER</th>
                                        <th scope="col">STATUS</th>
                                        <th scope="col">INFORMATION</th>
                                        <th scope="col">ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Poly (MP4)</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Poly Slide</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/poly?text=Cupz API&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Bold (MP4)</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Bold Slide</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/bold?text=Cupz API&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Colorful (MP4)</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Colorful Slide</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/colorful?text=Cupz API&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Army (MP4)</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Army Slide</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/army?text=Cupz API&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Retro (MP4)</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Retro Slide</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/retro?text=Cupz API&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Shadow</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Shadow Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/shadow?text=Cupz&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>                                   
                                    <tr>
                                        <td>Banner</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Banner Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/banner?text=Cupz%20Web%20API&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>   
                                    <tr>
                                        <td>Flaming</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Flaming Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/flaming?text=Cupz&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Rainbow</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Rainbow Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/rainbow?text=Cupz&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Smoke</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Smoke Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/love?text=Cupz&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Double Love</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Love Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/love?text=Cupz&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Wood</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Wood Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/wood?text=Cupz&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Coffee</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Coffee Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/coffee?text=Cupz&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Stars</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Stars Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/stars?text=Cupz&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Butterfly</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Butterfly Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/butterfly?text=Cupz&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Summer</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Summer Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/summer?text=Cupz&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Candy</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Candy Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/candy?text=Cupz&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Royal</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Royal Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/royal?text=Cupz&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Underwater</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Underwater Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/underwater?text=Cupz&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Burn Paper</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Burn Paper Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="api//oxy/paper?text=Cupz&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Fur</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Fur Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/oxy/fur?text=Cupz&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="py-4"></section>
        <div class="row">
            <div class="col-md-8 divider top-divider mx-auto pt-3">
            </div>
            <div class="mx-auto text-center">
                <h2 class="heading-black text-primary">Textpro Documentation</h2>
                <p class="text-muted lead" style="font-style: italic;">List Textpro</p>
            </div>
        </div>
        <div class="row justify-content-center" style="font-size: 14px;">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Features</h4>
                    </div>
                    <div class="card-body pt-2 text-center">
                        <div style="overflow-x:auto !important;">
                            <table class="table mb-0" style="width: 100% !important;">
                                <thead class="text-primary">
                                    <tr>
                                        <th scope="col">API NAME</th>
                                        <th scope="col">PARAMETER</th>
                                        <th scope="col">STATUS</th>
                                        <th scope="col">INFORMATION</th>
                                        <th scope="col">ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Neon Text</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Neon Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/textpro/neon?text=Cupz&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Devil Wings</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Devil Wings Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/textpro/devil?text=Cupz&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Transformers</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Transformers Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/textpro/transformers?text=Cupz&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Thunders Logo</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Thunders Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/textpro/thunder?text=Cupz&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Graffiti</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Graffiti Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/textpro/graffiti?text=Cupz&text2=Api&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Harry Potter</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Harry Potter Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/textpro/harry?text=Cupz API&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>BlackPink</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make BlackPink Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/textpro/blackpink?text=Cupz&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Joker Logo</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Joker Logo Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/textpro/joker?text=Cupz&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Matrix</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Matrix Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/textpro/matrix?text=Cupz&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3D Text</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make 3D Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/textpro/3d?text=Cupz API&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Logo Wolf 2</td>
                                        <td>text & text2 & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Logo Wolf2 Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/textpro/logowolf2?text=Cupz&text2=Rest Api&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Yellow Jewelry</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Yellow Jewelry Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/textpro/yellowjewelry?text=Cupz API&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Advanced Glow</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Advanced Glow Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/textpro/advancedglow?text=Cupz API&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Glitter</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Glitter Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/textpro/glitter?text=Cupz API&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Layered</td>
                                        <td>text & text2 & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Layered Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/textpro/layered?text=Cupz&text2=Api&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Bad Drug</td>
                                        <td>text & text2 & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Bad Drug Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/textpro/baddrug?text=Cupz Rest&text2=Api&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Pornhub</td>
                                        <td>text & text2 & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make PornHub Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/textpro/pornhub?text=Cupz Rest&text2=Api&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Ballon</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Ballon Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/textpro/ballon?text=Cupz Rest Api&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Diamond</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Diamond Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/textpro/diamond?text=Cupz Rest Api&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Tiktok</td>
                                        <td>text & text2 & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Tiktok Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/textpro/tiktok?text=Cupz Rest&text2=Api&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Light Glow</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Light Glow Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/textpro/lightglow?text=Cupz Rest Api&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Rainbow Equalizer</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Rainbow Equalizer Text</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/textpro/rainbowequalizer?text=Cupz Rest Api&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="py-4"></section>
        <div class="row">
            <div class="col-md-8 divider top-divider mx-auto pt-3">
            </div>
            <div class="mx-auto text-center">
                <h2 class="heading-black text-primary">Creator Documentation</h2>
                <p class="text-muted lead" style="font-style: italic;">List Creator API</p>
            </div>
        </div>
        <div class="row justify-content-center" style="font-size: 14px;">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Features</h4>
                    </div>
                    <div class="card-body pt-2 text-center">
                        <div style="overflow-x:auto !important;">
                            <table class="table mb-0" style="width: 100% !important;">
                                <thead class="text-primary">
                                    <tr>
                                        <th scope="col">API NAME</th>
                                        <th scope="col">PARAMETER</th>
                                        <th scope="col">STATUS</th>
                                        <th scope="col">INFORMATION</th>
                                        <th scope="col">ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    </tr>              
                                           <td>Welcome</td>
                                           <td>username & groupname & groupicon & membercount & profile & background & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Welcome Image</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/welcome?username=Cupz&groupname=Cupz&groupicon=https://www.linkpicture.com/q/20211125_113317.jpg&membercount=2022&profile=https://i.ibb.co/7pmfhHN/IMG-20210526-WA0030.jpg&background=https://www.linkpicture.com/q/20211125_113317.jpg&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>              
                                                                               <td>Welcome 2</td>
                                             <td>username & groupname & groupicon & membercount & profile & background & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Welcome 2 Image</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/welcome2?username=Cupz&groupname=Cupz&groupicon=https://www.linkpicture.com/q/20211125_113317.jpg&membercount=2022&profile=https://i.ibb.co/7pmfhHN/IMG-20210526-WA0030.jpg&background=https://www.linkpicture.com/q/20211125_113317.jpg&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>      
                                                                                       <td>Welcome 3</td>
                                        <td>username & groupname & groupicon & membercount & profile & background & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Welcome 3 Image</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/welcome3?username=Cupz&groupname=Cupz&groupicon=https://www.linkpicture.com/q/20211125_113317.jpg&membercount=2022&profile=https://i.ibb.co/7pmfhHN/IMG-20210526-WA0030.jpg&background=https://www.linkpicture.com/q/20211125_113317.jpg&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>              
                                                                                                                           <td>Goodbye</td>
                                        <td>username & groupname & groupicon & membercount & profile & background & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Goodbye Image</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/goodbye?username=Cupz&groupname=Cupz&groupicon=https://www.linkpicture.com/q/20211125_113317.jpg&membercount=2022&profile=https://i.ibb.co/7pmfhHN/IMG-20210526-WA0030.jpg&background=https://www.linkpicture.com/q/20211125_113317.jpg&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>              
                                                                                               <td>Goodbye 2</td>
                                        <td>username & groupname & groupicon & membercount & profile & background & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Goodbye 2 Image</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/goodbye2?username=Cupz&groupname=Cupz&groupicon=https://www.linkpicture.com/q/20211125_113317.jpg&membercount=2022&profile=https://i.ibb.co/7pmfhHN/IMG-20210526-WA0030.jpg&background=https://www.linkpicture.com/q/20211125_113317.jpg&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>              
                                                                                                                           <td>Goodbye 3</td>
                                        <td>username & groupname & groupicon & membercount & profile & background & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Goodbye 3 Image</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/goodbye3?username=Cupz&groupname=Cupz&groupicon=https://www.linkpicture.com/q/20211125_113317.jpg&membercount=2022&profile=https://i.ibb.co/7pmfhHN/IMG-20210526-WA0030.jpg&background=https://www.linkpicture.com/q/20211125_113317.jpg&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>              
                                                                                                                           <td>Promote</td>
                                        <td>username & groupname & groupicon & membercount & profile & background & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Promote Image</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/promote?username=Cupz&groupname=Cupz&groupicon=https://www.linkpicture.com/q/20211125_113317.jpg&membercount=2022&profile=https://i.ibb.co/7pmfhHN/IMG-20210526-WA0030.jpg&background=https://www.linkpicture.com/q/20211125_113317.jpg&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>              
                                     <td>Demote</td>
                                        <td>username & groupname & groupicon & membercount & profile & background & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Demote Image</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/demote?username=Cupz&groupname=Cupz&groupicon=https://www.linkpicture.com/q/20211125_113317.jpg&membercount=2022&profile=https://i.ibb.co/7pmfhHN/IMG-20210526-WA0030.jpg&background=https://www.linkpicture.com/q/20211125_113317.jpg&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>              
<td>Verification</td>
                                        <td>username & groupname & groupicon & membercount & profile & background & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Verification Image</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/verification?username=Cupz&groupname=Cupz&groupicon=https://www.linkpicture.com/q/20211125_113317.jpg&membercount=2022&profile=https://i.ibb.co/7pmfhHN/IMG-20210526-WA0030.jpg&background=https://www.linkpicture.com/q/20211125_113317.jpg&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>        
      <td>Level Up</td>
                                        <td>avatar & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Level Up Image</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/levelup?avatar=https://i.ibb.co/7pmfhHN/IMG-20210526-WA0030.jpg&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>         
     <td>Rank</td>
                                        <td>username & xp & exp & level & avatar & background & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Rank Image</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/rank?username=Cupz&xp=100&exp=100&avatar=https://i.ibb.co/7pmfhHN/IMG-20210526-WA0030.jpg&level=100&background=https://www.linkpicture.com/q/20211125_113317.jpg&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>              
<tr>
                                        <td>Tahta</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Tahta Image</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/tahta?text=Cupz Api&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Custom Tahta</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Custom Tahta Image</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/customtahta?text=Cupz%0ARest&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Buku Kanan</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Buku Kanan Image</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/bukukanan?text=Cupz Rest Api&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Buku Kiri</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Buku Kiri Image</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/bukukiri?text=Cupz Rest Api&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Folio Kanan</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Folio Kanan Image</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/foliokanan?text=Cupz Rest Api&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Folio Kiri</td>
                                        <td>text & apikey</td>
                                        <td><div class="text-primary">
                                            <i class="fas fa-check fa-sm"></i>
                                        </div></td>
                                        <td>Make Folio Kiri Image</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/api/foliokiri?text=Cupz Rest Api&apikey=<%= apikey %>" target="_blank">
                                                <i class="tim-icons icon-triangle-right-17"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
